{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="content-section">
            <div class="card-body">
              <h3  style="font-family: 'Lobster', cursive;">{{ post.title }}</h3>
              <p style="text-align: right;">{{ post.published_date }}</p>
              <p class="card-text"> {{ post.text|linebreaksbr }} </p>
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info">View more</a>
              <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a><br>
              
            </div>
          </div>
    {% endfor %}
{% endblock %}


