{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section2">
        <form method="POST">
            
            {% csrf_token %}
            <fieldset class="form-group">
                <legend border-bottom-mb-4 style="font-family: Lobster; text-align: center; font-size: 30px; color:  rgb(255, 189, 67); transform: translateX(0%) translateY(10%);"> Register </legend>
                {{form|crispy}}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit"> Sign Up</button>
            </div>
        </form>
        

    </div>

    <style>
        .content-section2, .container h-100 {
            min-width:80%;
            /* border-radius: 10px; */
            min-height: 80%;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin: auto;
            transform: translateX(70%) translateY(0%);
    
            display: flex;
           justify-content: center;
            align-items: center;
    
              width:600px;
              height:600px;
            position:absolute;
            -moz-box-align: center;
    
    
            background: #ffffff;
            padding: 10px 20px;
            border: 1px solid #dddddd;
            /* border-radius: 600px; */
            
            /* box-shadow:black; */
            /* margin-bottom: 20px; */
            opacity: 0.9;
            /* height: 400px; */
            /* min-width: 500px;   */
            /* border-radius: 10px;   */
          }
        </style>
{% endblock content %}